@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  font-family: "Cyber", sans-serif;
  color: #ccff00;
}

img[alt*="background-img"] {
  max-width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.wrapper-pop-menu {
  position: absolute;
  pointer-events: none;
}

.target-box {
  width: 90px;
  height: 90px;
  border: 5px dashed #ccff00;
  border-radius: 50%;
  background-color: rgba(75, 39, 110, 0.3);
  position: relative;
}

.dropdown-menu {
  position: absolute;
  bottom: -127px;
  right: -75px;
  width: 90px;
  height: 137px;
  border-radius: 7px;
  pointer-events: all;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid #ccff00;
}

.end-game-menu,
.welcome-menu,
.dropdown-menu,
.header {
  background: rgb(50, 20, 80, 0.8);
  background: radial-gradient(
    circle,
    rgba(50, 20, 80, 0.8) 25%,
    rgba(41, 19, 46, 0.8) 75%
  );
}

.target {
  padding: 10px;
  border-radius: 7px;
  transition: all 0.3s ease;
  font-size: 20px;
}

.target:hover {
  background: rgb(115, 60, 170);
  background: radial-gradient(
    circle,
    rgb(115, 60, 170) 20%,
    rgb(142, 57, 161) 80%
  );
  font-size: 22px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 10;
  font-size: 27px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  border-bottom: 1px solid #ccff00;
}

.header > * {
  display: grid;
  justify-content: center;
  align-content: center;
}

.title-one-welcome,
.title-one {
  display: grid;
  align-content: end;
  justify-items: center;
  cursor: pointer;
}

.title-one-welcome {
  cursor: default;
}

.title-two-welcome,
.title-two {
  display: grid;
  align-content: start;
  text-decoration: overline solid 1px #ccff00;
  cursor: pointer;
}

.title-two-welcome {
  cursor: default;
}

.timer {
  grid-area: 1/ 2 / 3 / 3;
  display: flex;
  align-items: center;
  font-size: 35px;
}

.image-container {
  grid-area: 1/ 3 / 3 / 4;
  display: flex;
  justify-content: space-evenly;
}

.container-char {
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  align-items: end;
  justify-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
}

#char-found {
  filter: grayscale(100%);
  text-decoration: line-through 2px;
}

.char-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.tom-img {
  object-fit: fill;
}

.char-title {
  font-size: 18px;
}

.container-char:hover {
  transform: translate(0, 35px) scale(2);
  background: rgba(171, 33, 199, 0.692);
  background: linear-gradient(
    0deg,
    rgba(171, 33, 199, 0.8) 35%,
    rgba(41, 19, 46, 0) 65%
  );
}

.overlay-endgame,
.overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.9);
  background: linear-gradient(
    195deg,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0.9) 60%
  );
}

.overlay-endgame {
  background: rgb(0, 0, 0, 0.7);
}

.end-game-menu,
.welcome-menu {
  width: 50vw;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  display: flex;
}

img[alt*="welcome-img"] {
  width: 60%;
  border-radius: 12px 0 0 12px;
  object-fit: cover;
}

.welcome-menu-content {
  width: 40%;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  gap: 30px 0;
  position: relative;
}

img[alt*="welcome-char"] {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.char-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.3s ease;
}

.char-container:hover {
  transform: scale(1.2);
}

.game-over-btn,
.welcome-btn {
  border-radius: 12px;
  width: 100px;
  height: 45px;
  padding: 5px;
  transition: all 0.3s ease;
  font-family: "Cyber", sans-serif;
  font-size: inherit;
  color: #ccff00;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  border: 1px solid #ccff00;
  cursor: pointer;
}

.game-over-btn:hover,
.welcome-btn:hover {
  transform: scale(1.2);
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

.end-game-menu {
  width: 35vw;
  height: 45vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.game-over-btn {
  width: 150px;
}

.credits {
  position: absolute;
  padding: 10px;
  bottom: 10px;
  left: -335px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ccff00;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 12px;
  transition: all 0.3s ease;
}

.credits:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 1);
}

a {
  color: #ccff00;
}
